@font-face {
    font-family: GoogleSans;
    src: url(../fonts/googlesans.woff2);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p,
label,
input,
textarea,
button {
    font-family: GoogleSans;
    color: #6a5a4a;
    font-weight: 500;
}

body * {
    margin: 0 !important;
    box-sizing: border-box !important;
}

.scroll-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.scroll-hidden {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.btn {
    display: inline-block;
    box-shadow: none !important;
    border: 1px solid #5a6268;
    border-radius: 2px;
    margin: 0;
    padding: 1.25em 1.25em;
    width: 100% !important;
    background-color: white;
    color: #5a6268;
    font-size: 1rem;
    line-height: 1.5;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    user-select: none;
    pointer-events: auto;
    cursor: pointer;
    transition: .25s;
}

.btn:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn:active {
    background-color: #3b4045;
    border-color: #3b4045;
}

.btn:disabled {
    background-color: #ddd !important;
    border-color: #aaa !important;
    cursor: not-allowed;
}


.form-control {
    display: inline-block;
    box-shadow: none !important;
    border: 1px solid #5a6268;
    border-radius: 2px !important;
    outline: none;
    margin: 0;
    padding: 1.25em 1.25em;
    width: 100% !important;
    background-color: white;
    color: #5a6268;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 66px;
    vertical-align: middle;
    white-space: nowrap;
    transition: .25s;
}

.form-control::placeholder {
    color: #aaa;
}

.form-control:disabled {
    background-color: #eee;
}

.no-resize {
    resize: none;
}
